<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Tag-->
        <link rel="stylesheet" href="tag/style.css">
        <!--Unicons CDN-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
        <!--Boostrap5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

        <title>Basic form</title>
    </head>

    <body>
        <div class="container">
                <div class="row col-md-6 mx-auto">
                    <div class="card border-primary" style="border-width: 2px; padding:0;">
                        <div class="card-header bg-primary text-white text-center fs-1 fw-bold">
                            Basic Form
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="wrapper">
                                    <div class="content">
                                        <label class="form-label" for="tags">Tags: Press enter or add a comma after each tag</label>
                                        <ul>
                                            <input type="text" id="tags" name="tags">
                                        </ul>
                                    </div>
                                    <div class="details">
                                        <p><span>_</span> tags are remaining</p> 
                                        <button>Remove all</button>
                                    </div>
                                </div>
                                <script src="tag/script.js"></script>
                                
                            </form>
                        </div>
                        <div class="card-footer text-end">
                            <small>&copy; 4gotten</small>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>